/* ===== Helpers / Utilities ===== */
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: #FFCC00;
  color: #A50000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 1.5rem;
}

.club-logo {
  width: 120px;
  margin-bottom: 20px;
  filter: drop-shadow(0 6px 12px rgba(0,0,0,0.4));
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

/* ===== Global Layout ===== */
body {
  margin: 0;
  font-family: "Roboto Mono";
  text-align: center;
  background: linear-gradient(1600deg, #A50000, #DA291C);
  color: #FFFFFF;
}

section {
  padding: 60px 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1200px;
}

/* ===== Navbar ===== */
#navbar {
  background-color: #111;
  padding: 15px;
}

#navbar a {
  color: red;
  margin: 0 25px;
  text-decoration: none;
  font-weight: bold;
}

#navbar a:hover {
  color: #FFFFFF;
}

/* ===== Footer ===== */
#footer {
  background-color: #111111;
  color: #FFCC00;
  padding: 5px;
  margin-top: 0;
}
