/* Buttons */
.hub-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background: white;
    color: #c70101;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .hub-container {
        flex-direction: column;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }
}
.btn-send {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
    background-color: #DA291C;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}
.btn-send:hover {background-color: #cc5454;}
.hero-buttons {
  text-decoration: none;
  display: inline-block;
  color: #c70101;
  padding: 10px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swiper-button-next,
.swiper-button-prev {color: #c70101 !important;}
.swiper-pagination-bullet-active {background: #c70101 !important;}

/* Cards */
.info-card {
    background: #222;
    padding: 20px;
    border-left: 5px solid #C70101;
    border-radius: 8px;
    color:white;
    transition: transform 0.3s ease;
}
.info-card:hover {transform: translateY(-20px);}
.info-card h4 {
    color: #DA291C;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.info-card p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#c0aaaa;
}
.coach-vcard {
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:#c0aaaa;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.coach-vcard img {
    width: 150px;
    height: 150px;
    border-radius: 10px; 
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid white;
}
