/* === Fan Zone === */
#fan-zone {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.fan-form {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 50px;
  }
.fan-form h2 {
    font-size: 22px;
    line-height: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c70101;

}
.form-group {margin-bottom: 15px;}
.form-input,.form-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}
.form-textarea {
    height: 100px;
    resize: vertical;
}

/* === Comments === */
.message-card {
    background: white;
    border-left: 5px solid #111;
    color: #c70101;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}
.messages-container p{font-family: 'Courier New', Courier, monospace; color:bisque;}
.messages-container h3, #fan-zone h1 {
    font-size: 22px;
    line-height: 2;
    color:#000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}
.message-header strong {color: #222;font-size: 1.1em;}
.message-text {line-height: 1.6; background: #111;}
.message-card p {color: #c70101;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 20px;}