/* === Global Layouts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Roboto Mono";
  text-align: center;
  background: #DA291C !important;
  color: #FFFFFF;
}
.content {
    flex: 1;
    display: block;
    width: 100%;
}
/* === Navbar === */
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
#navbar {
    background-color: #000;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #DA291C;
}
#navbar a {
  color: #C70101;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar a:hover {color: #FFFFFF;}

/* === Search Form === */
.search-form input {
    padding: 8px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}
.search-form button {
    padding: 8px 15px;
    background-color: #DA291C;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: 0.3s;
}
.search-form button:hover {background-color: #a50101;}

/* === Gallery === */
#gallery-slider {
    background: rgb(126, 16, 22);
    padding: 60px 20px;
}
#gallery-slider h2 {
  font-size: 1.5rem;
  text-align: center;
  color:#1a1a1a;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

/* === Footer === */
#footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-color: #1a1a1a;
  color: #FFCC00;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}
