{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manchester United</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Iceberg&
  family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700
  &family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">

  <style>
    .gradient-background {
      background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
      background-size: 180% 180%;
      animation: gradient-animation 18s ease infinite;
    }

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  </style>
</head>

<body>
    
    <!-- Menu -->
    <nav id="navbar">
        <a href="{% url 'club:home' %}">Home</a>
        <a href="{% url 'club:players_list' %}">Squad</a>
        <a href="{% url 'club:fan_zone' %}">Fan Zone</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <section id="footer">
        <p>© 2026 My Manchester United Fan Site</p>
    </section>
    
    </body>

</html>