{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="Hero" class="hero-container">
  <div class="hero-overlay">
    <img src="{% static 'images/man-utd-logo.png' %}" alt="Manchester United Logo" class="hero-logo">
    <h1 class="hero-title">Manchester United</h1>
    <p class="hero-subtitle">Passion and History</p>
    <div class="hero-buttons">
      <a href="{% url 'club:learn-more' %}" class="btn-send" style="text-decoration: none;">Read more...</a>
    </div>
  </div>
</section>

<section id="club-hub">
  <div class="hub-container">
    
    <div class="coach-sidebar" style="flex: 1;">
      {% if coach %}
      <div class="coach-vcard">
        <img src="{{ coach.image.url }}" alt="{{ coach.name }}">
        <h3>{{ coach.name }}</h3>
        <p style="text-transform: uppercase;">Head Coach</p>
        <a href="{{ coach.wiki_link }}" target="_blank" class="hub-btn">Wikipedia Bio</a>
      </div>
      {% else %}
      <p >No coach data available.</p>
      {% endif %}
    </div> <div class="hub-content" style="flex: 2;">
      <div class="info-grid">
        
        {% for news in news_list %}
        <div class="info-card news-highlight">
          <h4>{{ news.title }}</h4><p>{{ news.content }}</p>
        </div>
        {% empty %}
        <div class="info-card">
          <h4>No News</h4><p>Check back later.</p>
        </div>
        {% endfor %}

        {% for info in info_list %}
        <div class="info-card">
          <h4>{{ info.category }}</h4><p>{{ info.details|safe }}</p>
        </div>
        {% empty %}
        <div class="info-card">
          <h4>Info</h4><p>No club info added yet.</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="gallery-slider">
  <h2>Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for photo in gallery_photos %}
      <div class="swiper-slide">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
        {% if photo.title %}
        <p class="caption">{{ photo.title }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
{% endblock %}